/* CONSTANTS */
$max-mobile-width: 770px;
$primary-color: black;
$secondary-color: white;


/* MIXINS */
@mixin btn($primary, $secondary) {
  color: $primary;
  background-color: $secondary;
  line-height: 30px;
  cursor: pointer;
  border: {
    width: 1px;
    style: solid;
    color: $primary;
    radius: 5px;
  }
  @media screen and (min-width: $max-mobile-width) {
    &:hover {
      color: $secondary;
      background-color: $primary;
    }
  }
}

@mixin txarea($width, $minheigth) {
  width: $width;
  min-height: $minheigth;
  padding: 10px;
  border: {
    width: 1px;
    style: solid;
    color: $primary-color;
  }
}

/* MAIN SELECTORS */

body {
	font-family: 'Roboto', sans-serif;
  background-color: $secondary-color;
}

main {
  @media screen and (min-width: $max-mobile-width) {
    display: flex;
  }
}

.appheader {
  background-color: $primary-color;
  height: 70px;
  box-sizing: border-box;
  color: $secondary-color;
  padding: 1vh 5vw;
  
  &__title {
		font-size: 20px;
	}

  @media screen and (min-width: $max-mobile-width) { 
    height: 60px;
  }
}

.problem {
  text-align: center;
  background-color: darken($secondary-color, 10%);
  padding: 1px;

  @media screen and (min-width: $max-mobile-width) {
    width: 45%;
  }

  &__title {
    font-size: 30px;
  }
  &__desc {
    font-size: 20px;
    padding: 15px;
    margin-bottom: 0;
  }
  &__testdesc {
    font-size: 15px;
    padding: 0 15px;
    margin-top: 0;
  }
  &__submitbtn {
    @include btn($primary-color, $secondary-color);
  }
  &__result {
    font-size: 15px;
    padding: 0 15px;
  }
}

.workplace {
  text-align: center;

  @media screen and (min-width: $max-mobile-width) {
    width: 55%;
  }

  &__title {
    font-size: 30px;
  }
  &__codearea {
    @include txarea(90%, 200px);
  }
  &__testarea {
    @include txarea(90%, 50px);
  }
  &__resetbtn {
    @include btn($primary-color, $secondary-color);
  }
  &__testbtn {
    @include btn($primary-color, $secondary-color);
  }
  &__result {
    font-size: 15px;
    padding: 0 15px;
  }
}

.loading-message {
  padding: 40px;
  font-weight: bold;
}

.error-message {
  padding: 40px;
  color: red;
  font-weight: bold;
}

footer {
  color: $secondary-color;
  background-color: $primary-color;
  padding: 4vh 0vw;
  text-align: center;
  height: 20px;
}

